@charset "UTF-8"

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    background-image: linear-gradient(to right,#729599,#BCC5CE,#E6DFD9,#BFB3A8,#7A7067 );
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #1f1a1771;
    width: 600px;
    padding: 10px;
   margin: auto;
 
}
h1{
    color: #729599;
  text-align: center;
  text-shadow: 1px 1px 2px #20303181;
}
h2{
    color: #7A7067;
}
p{
    text-align: justify;
}